---
layout: page
title: Welcome
permalink: /
apptypes: tools|compilers|libraries|hardware|other
tagline: to the new home of Parallax open-source software
---

<div class="row"></p>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>This is the portal for discovering all the exciting open-source projects going on in the Parallax community.</p>
        <p>Here you will find links, downloads, documentation, and more!</p>
      </div>
    </div>
  </div>
</div>

{% assign apptype_array = page.apptypes | split: "|" %}

<div class="row">

  <div class="col-md-3">

    <div class="panel-group" id="accordion" role="tablist">
      {% for apptype in apptype_array %}
      <div class="panel panel-default">
        <a href="#collapse{{ apptype }}" data-parent="#accordion" data-toggle="collapse">
          <div class="panel-heading">
            <h1 class="panel-title">
                    {{ apptype | capitalize }}
            </h1>
          </div>
        </a>
        <div id="collapse{{ apptype }}" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav">
            {% for project in site.projects %}
              {% assign projecttype_array = project.type | split: "|" %}
              {% for projecttype in projecttype_array %}
                {% if projecttype == apptype %}
                <li><h5><a href="{{ project.url }}">{{ project.title }}</a></h5></li>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <div class="col-md-9">
  {% for apptype in apptype_array %}
    <h1 id="{{ apptype }}">{{ apptype | capitalize }}</h1>
    <hr>
    {% assign loopindex = 0 %}
    {% assign divopen = false %}

    {% for project in site.projects %}
      {% assign projecttype_array = project.type | split: "|" %}
      {% for projecttype in projecttype_array %}
          {% if projecttype == apptype %}
            {% assign loopindex = loopindex | plus: 1 %}
            {% assign rowfinder = loopindex | modulo: 2 %}

            {% if rowfinder == 1 %}
              <div class="row">
              {% assign divopen = true %}
            {% endif %}

              <div class="col-md-6">
                <a href="{{ project.url }}">
                <h3>{{ project.title }}</h3>
                </a>
                <h4>{{ project.tagline }}</h4>
                {% if project.image %}
                  <a href="{{ project.url }}">
                  <img class="img-responsive" src="{{ project.image }}" alt="{{ project.name }}" />
                  </a>
                {% endif %}
              </div>

            {% if rowfinder == 0 %}
              </div>
              {% assign divopen = false %}
            {% endif %}

          {% endif %}
      {% endfor %}
    {% endfor %}

    {% if divopen %}
      </div>
    {% endif %}

    <hr>
  {% endfor %}
  </div>
</div>
