---
layout: page
title: Welcome
tagline: to the new home of Parallax open-source software
permalink: /

apptypes:
    -   slug: tools
        name: Tools
        description:

    -   slug: compilers
        name: Compilers
        description: 

    -   slug: libraries
        name: Libraries
        description: 

    -   slug: hardware
        name: Hardware
        description: Find open-source schematics and design files for many Parallax-related products.

    -   slug: other
        name: Other
        description: 

---

<div class="jumbotron">
</div>

<p>While some projects have originated within Parallax itself, many projects were created and are driven by volunteers in the community.</p>
<p>You can join the discussion too. Check out the <a href="http://forums.parallax.com/">Parallax Forums</a>, where many Parallax projects are born.</p>

<hr class="hr-top">

<ul class="nav nav-pills nav-justified">
{% for apptype in page.apptypes %}
  <li><a href="#{{ apptype.slug }}">{{ apptype.name }}</a></li>
{% endfor %}
</ul>

{% for apptype in page.apptypes %}
<hr class="hr-bottom">
<h2 id="{{ apptype.slug }}">{{ apptype.name }}</h2>
<p>{{ apptype.description }}</p>

{% assign loopindex = 0 %}
{% assign divopen = false %}

{% for project in site.projects %}
  {% assign projecttype_array = project.type | split: "|" %}
  {% for projecttype in projecttype_array %}
      {% if projecttype == apptype.slug %}
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 2 %}

        {% if rowfinder == 1 %}
          <div class="row">
          {% assign divopen = true %}
        {% endif %}

          <div class="col-md-6">
            <a href="{{ project.url }}"><h4>{{ project.title }}</h4></a>
            <p>{{ project.tagline }}</p>
          </div>

        {% if rowfinder == 0 %}
          </div>
          {% assign divopen = false %}
        {% endif %}

      {% endif %}
  {% endfor %}
{% endfor %}

{% if divopen %}
  </div>
{% endif %}
{% endfor %}
