---
layout: page
---
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        {% if page.type != 'other' %}
          <h4>Other {{ page.type }}</h4>
        {% else %}
          <h4>Other projects</h4>
        {% endif %}
        <ul class="nav">
        {% for project in site.projects %}
          {% if project.type == page.type and page.url != project.url %}
          <li><h5><a href="{{ project.url }}">{{ project.title }}</a></h5></li>
          {% endif %}
        {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-9">
    {% assign breadcrumb_array = page.url | split: "/" %}
    {% include breadcrumbs %}
    {% include links %}
    {{ content }}
    {% include downloads %}
  </div>
</div>

