---
layout: page
---
{% assign apptype_array = page.type | split: "|" %}

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      {% for apptype in apptype_array %}
        <div class="panel-body">
          <h3 class="panel-title">{{ apptype | capitalize }}</h3>
          <ul class="nav">
          {% for project in site.projects %}
            {% assign projecttype_array = project.type | split: "|" %}
            {% for projecttype in projecttype_array %}
              {% if projecttype == apptype %}
              <li><h5><a href="{{ project.url }}">{{ project.title }}</a></h5></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-9">
    {% assign breadcrumb_array = page.url | split: "/" %}
    {% include breadcrumbs %}
    {% include links %}
    {{ content }}
    {% include downloads %}
  </div>
</div>

